/* Normalizando */

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

img{max-width: 100%;}
.clear{clear: both;}

/* Removendo margens do Bootstrap */
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}


/* Main */

html,
body {
    font-family: Roboto;
    font-size: 12px;
    width: 100%;
    height: 100%;
    margin: 0;
}


/* Menu */

.navbar {
    background-color: #e53935;
    margin-bottom: 0;
}

.navbar li a,
.navbar .navbar-brand {
    color: #fff !important;
}


/*Passar mouse por cima ele fica branco e a letra vermelha */

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #e53935 !important;
    background-color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}


/* sessoes*/

section {
    min-height: calc(100% - 1px);
    width: 100%;
}

#inicio {
    background-image: url(/img/header_bg.jpg);
    background-attachment: fixed;
    color: #dedeff;
    background-repeat: no-repeat;
    background-size: cover;
}

#projeto {
    color: #e53935;
}

#sobre {
    background-color: #2e72a2;
}

#contato {
    background-color: #343434;
}


/* Cabeçalho */

footer {
    background-color: #222222;
    color: #fff;
}

footer p {
    margin-top: 5px;
}


/* Classes gerais */

/*234px;*/
/*418px;*/
/*600px*/
/*784px;*/

.box_carrossel{width: 600px; margin: 10% auto; position: relative; padding: 10px 30px; background: #fff; box-shadow: 0 0 5px 1px #000;}
.box_carrossel .nav{position: absolute; top: 0; padding: 0 5px; display: table; height: 147px; background: cornflowerblue; color: #fff; font-size: 1.3em; cursor: pointer;}
.box_carrossel .nav p{display: table-cell; vertical-align: middle;}
.box_carrossel .nav:hover{background: #99ccff;}
.box_carrossel .nav.back{left: 0;}
.box_carrossel .nav.forth{right: 0;}

.carrossel{list-style: none; width:1000%; float: left; background: #fff;}
.carrossel .item{float: left; width: 173px; padding: 10px; margin-right: 10px; background: #99ccff;}
